# Python Site-Packages ausschließen
**/site-packages/
# Virtuelle Umgebung ausschließen
venv/
env/
**/__pycache__/
video_downloader.log

# PyInstaller build files
build/
dist/
*.spec

# Temporary files
tmp/
*.pyc
*.pyo
*.pyd
.Python

# User-specific files
*.log